{% extends 'photo/base.html' %}

{% block content %}
{{block.super}}


<div class="container-fluid">
  <h1 class=" text-center">Photo Gallery</h1>
  <div class="grid-sizer"></div>
    <div class="grid">>
        {% for image in image%}
          
        <a data-fancybox href="{{image.image_path.url}}" data-caption="
        <h3>{{image.name}}</h3>
        <p>{{image.description}}</p>
        <p>{{image.category}}</p>
        <p>{{image.location}}</p>
        <button type='button' class='btn btn-primary' onclick=CopyFun('{{image.id}}') name='button' >Copy Link</button>">
        <div class="grid-item">
            <img src="{{image.photo_image.url}}" class="img-responsive" alt="Image">
        </div>
        {% endfor %}      
    </div>
  </div>
</div>

    
{% endblock %}