{% extends 'photo/base.html' %}
{% block content %}
<body>

<div class="container">


{% if images%}
     <h2 >Found {{ images|length }} of searched term {{message}}</h2>
   {% else %}
     <h2> Found 0 photos for the search term {{message}} </h2>
   {% endif %}
  {% if images %}
  
      <div class="grid">
          {% for image in image%}
            
          <a data-fancybox href="{{image.image_path.url}}" data-caption="
          <h3>{{image.name}}</h3>
          <p>{{image.description}}</p>
          <p>{{image.category}}</p>
          <p>{{image.location}}</p>
          <button type='button' class='btn btn-primary' onclick=CopyFun('{{image.id}}') name='button' >Copy Link</button>">
          <div class="grid-item">
              <img src="{{image.photo_image.url}}" class="img-responsive" alt="Image">
          </div>
          {% endfor %}
  </div>
  {%else%}
  <h2>No Images found</h2>
  {%endif%}
</div>
</body>
<style>
body{
  background-image: url('https://images5.alphacoders.com/441/thumb-1920-441135.jpg')
  
}
h2{
  color:bisque;
  font-size: 4.0;
  font-family: 'Press Start 2P', cursive;
}
</style>
{% endblock %}