{% extends 'photo/base.html' %}
{% block content %}
  <!-- {% if images %} -->
  
      <div class="grid">
          {% for image in image%}
            
          <a data-fancybox href="{{image.image_path.url}}" data-caption="
          <h3>{{image.name}}</h3>
          <p>{{image.description}}</p>
          <p>{{image.category}}</p>
          <p>{{image.location}}</p>
          <button type='button' class='btn btn-primary' onclick=CopyFun('{{image.id}}') name='button' >Copy Link</button>">
          <div class="grid-item">
              <img src="{{image.photo_image.url}}" class="img-responsive" alt="Image">
          </div>
          {% endfor %}
  </div>
  <!-- {%else%}
  <h1>No Images found</h1>
  {%endif%} -->

{% endblock %}